[project]
	description = Machine Learning project files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bkmalayC
[access "refs/for/refs/*"]
	read = group user/bkmalayC
	push = group user/bkmalayC
	label-Code-Review = -2..+2 group user/bkmalayC
	label-Verified = -1..+1 group user/bkmalayC
	rebase = group user/bkmalayC
	removeReviewer = group user/bkmalayC
	submit = group user/bkmalayC
[access "refs/heads/*"]
	read = group user/bkmalayC
	create = group user/bkmalayC
	push = +force group user/bkmalayC
	pushMerge = group user/bkmalayC
[access "refs/tags/*"]
	push = group user/bkmalayC
	push = +force group user/bkmalayC
